body{
    font-family: 'Oxygen', sans-serif;
    background-color: cadetblue 
}

.background{
    background-image: url(img/Kitchen\ Background.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    height: 20vh;
}

.food{
    width: 650px;
    padding: 40px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: aquamarine;
    border-radius: 50px;
}

h1{
    color: black;
    margin-top: 40px;
    text-align: center;
}
h2{
    color: black;
    text-align: center;
}