.background{
    background-image: url(img/Background.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    height: 50vh;
}

h1{
    color: aquamarine;
}
#id{
    margin-top: 50px;
    text-align: center;
    color: blueviolet;
}
.purple-font{
    color: blueviolet;
}
