body{
    font-family: 'Oxygen', sans-serif;
    background-color: teal; 
}

.background{
    background-color: #B2DFDB;
    background-position: center;
    background-size: cover;
    color: white;
    height: 15vh;
    border-radius: 10px;
}

.food{
    width: 650px;
    padding: 40px;
    margin: 20px auto;
    text-align: center;
    background-color: #B2DFDB;
    border-radius: 50px;
}

h1{
    color: black;
    margin-top: 40px;
    text-align: center;
}
h2{
    color: black;
    text-align: center;
}